.container{
    
    margin: 0px;
}
#wrapper{
   
    width: 100vw;
    height: 100vh;
    background-color: rgba(243, 238, 254);
    display: flex;
    justify-content: center;
}
.head-wrapper{
    position: relative;
    width: 50%;
    margin-top: 150px;
    margin-left: 220px;
    justify-content: center;
}

#para1{
    margin-top: -30px;
    max-width: 90%;
    
    font-size: 26px;
    font-family:sans-serif;
    font-weight:400;
}
#header{
    /* color: blue; */
    color: #1877f2;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 750;
    
}
.form-wrapper{
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 ;
    margin-right: 250px;
    margin-top: 120px;
    padding: 20px 0 28px;
    width: 448px; 
    height: 310px;
    
    /* box shadow problem */
}
#input-box1{
    width: 310px;
    padding-left: 14px;
    margin-left: 12px;
    margin-top:-5px;
    margin-right: 12px;
    margin-bottom: 12px;
    height: 40px;
    border-radius: 6px;
    font: 400 13.3333px Arial;
    border: 1px solid #dddfe2;
}
#input-box1::placeholder{
    opacity: 0.7;
    font-size: 16px;
}
#input-box1:focus{
    outline: none;
    border:1px solid #1877f2;
}
#input-box2{
    width: 310px;
    padding-left: 14px;
    margin-left: 12px;
    
    margin-right: 12px;
    margin-bottom: 12px;
    height: 40px;
    border-radius: 6px;
    font: 400 13.3333px Arial;
    border: 1px solid #dddfe2;
}
#input-box2::placeholder{
    opacity: 0.7;
    font-size: 16px;
}
#input-box2:focus{
    outline: none;
    border: 1px solid #1877f2;
}
#login-btn{
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    
    vertical-align: middle;
    width: 310px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 12px;
    height:42px;
    border-radius: 6px;
    background-color:#1877f2;
    border: none;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
    font-size: 18px;
}
#forgot-password{
    position:absolute;
    margin-left:12px;
    padding-left: 110px;
    width: 218px;
    text-decoration: none;
    color:#1877f2 ;
    font-family:sans-serif ;
    font-size:13px;
    padding-bottom: 25px;
    border-bottom: 1px solid #aaa;
}
/* problem */
#forgot-password:hover{
    text-decoration: underline;
}

#signup-btn{
    position: relative;
    box-sizing: content-box; 
    justify-content: center;
    font-weight:550;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    margin-top: 45px;
    width: 160px;
    margin-left: 90px;
    margin-bottom: 24px;
    height:42px;
    border-radius: 6px;
    background-color:#1dac10d5;
    border: none;
    color: #fff;
    
    line-height: 30px;
    font-size: 16px;
}
#p1{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 25px;
    font-family: sans-serif;
  }
#linkp1{
    text-decoration: none;
    color: black;
    } 
    /* problem */
#linkp1:hover{
    text-decoration: underline;
}    
/* problem in footer of the page */
/* #footer1{
    width: 800px;
    margin-left:220px ;
    display: inline;
} */
